
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Dosis');
$base-font: 'Dosis', sans-serif;
$header-font: 'Bungee', cursive;

$base-size: 16px;
$base-height: 1.4;

$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
