<div class="wrapper">
  <div class="container">
    <div class="row">
        <% @actors.each do |actor| %>
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <%= link_to actor_path(actor) do %>
              <%= div_for actor do %>
                <%= actor.first_name.titleize %>
                <%= actor.last_name.titleize %>
              <% end %>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>
