.wrapper-actors {
  background-color: #A5DEE5;
  min-height: 100vh;
}
.col-xs-12 a {
  text-decoration: none !important;
}
.card-actor {
  margin-top: 20px;
}
.card-body {
  background-color: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #E6E6E6;
  min-width:280px;
   &:hover {
    box-shadow: 0px 4px 46px 0 rgba(0, 0, 0, 0.5);
    transition: ease all 0.4s;
  }
}
.card-picture {
  height: 250px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.list-inline {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  h4 {
    font-family: 'Bungee', cursive;
    color: black;
    text-decoration: none;
  }
}
.card-footer p {
  font-size: 12px;
  font-family: 'Dosis', sans-serif;
  color: white;
}
.card-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  opacity: 0;
  &:hover {
  opacity: 1;
  transition: ease all 0.5s;
  }
}
