.wrapper-actors {
  background-color: #A5DEE5;
  height: 100vh;
}
.card-actors {
  margin-top: 26px;
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  // box-shadow: 0px 4px 46px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  &:hover {
    box-shadow: 0px 4px 46px 0 rgba(0, 0, 0, 0.5);
    transition: ease all 0.4s;
  }
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 13px;
  }
}
