.wrapper-movie {
  background-color: #a29f9f;
  min-height: 100vh;
}
.display {
  height: 563px;
  padding-top: 35px;
}
.foo {
  background-color: white;
  box-shadow: 5px 13px 0px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding-left: 50px;
  padding-right: 50px;
  h3 {
    padding-top: 10px;
  }
}
.picture {
  height: 100vh;
  padding-top: 30px;
  padding-left: 40px;
}
.image-movie {
  box-shadow: 5px 13px 0px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
