.wrapper-movie {
  background-color: #21C5BD;
  min-height: 100vh;
}
.display {
  display: flex;
  align-items:center;
  height: 563px;
}
.movie {
  background-color: white;
  box-shadow: 5px 13px 0px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding-left: 50px;
  padding-right: 50px;
  h3 {
    padding-top: 5px;
  }
}
.picture {
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content: center;
}
.image-movie {
  box-shadow: 5px 13px 0px 0 rgba(0, 0, 0, 0.2);
}
