<div class="banner" style="background-image: url(<%= image_path "background.jpg" %>);">
  <div class="banner-content">
    <h1>Stey easy</h1>
    <p>Very cool stuff, useful and smart</p>
    <%= link_to "Play",movies_path, class: "btn-medium"  %>
  </div>
</div>
