<div class="banner" style="background-image: url(<%= image_path "background.jpg" %>);">
  <div class="banner-content">
    <h1 class="animated fadeInUp">Stay easy</h1>
    <div class="btn-home animated fadeInDown">
      <p><%= link_to "Play",movies_path, class: "btn-medium"  %></p>
    </div>
  </div>
</div>
